// bootstrap vars
$brand-primary: #ed0121; // dark red
$font-size-base: 16px;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// fontawesome
$fa-font-path: "~font-awesome-sass/assets/fonts/font-awesome/";

// theme vars
$bg-color: #fbfbfb; // light gray background color
$font-color-light: white;
$font-color-dark: #222;
